body{
  background-color: #9aaeed;
}
*{
  margin: 0;
  padding: 0;
}
.divMain{
  width: 100vw;
  height:100vh;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.divPlayerDetail{
  width: 100%;
  height:8%;
  text-align: center;
  margin: 0% 0% 1% 0%;
}
.divWelcomePlayer{
  visibility: hidden;
  position: absolute;
  font-size:1.4em;
  width: 100%;
  margin-left: 0px;
}
.txtPlayerName{
  width: 30%;
  padding: 1% 1% 1% 1%;
  text-align:center;
  font-family: sans-serif;
  font-size:1.4em;
  box-sizing: border-box;
  border-radius: 6px;
}
.btnAddMe{
    background:#2ecc71;
    padding: 1% 2% 1% 2%;
    font-size: 1.3em;
    color:white;
    border-radius:6px;
    margin-left: 2%;
}
.btn{
    background:#2ecc71;
    padding: 1% 1% 1% 1%;
    font-size: 1.3em;
    color:white;
    border-radius:6px;
    margin-left: 2%;
    width: 7em;
}
.btn:hover{
    background:#2CC06B;
}
.welcomeUno{
  height:70vh;
  width: 50vw;
  position: fixed;
  left:25vw;
  top:15vh;
}

.divChatContainer{
  background: #8499db;
  border-radius:6px;
  text-align:center;
  padding: 0.5% 1% 1% 1%;
}
.chatHeadings{
  font-size: 1.4em;
  height: 5%;
  border-radius:5px;
}
.reverseDiv
{
  padding: 0px 0px 0px 0px;
}
.reverseImg{
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
}
.divPlayerListArea{
  background-color:#f4f4f4;
  border-radius:5px;
  height: 100%;
  overflow-y:scroll;
}
.divPlayersListBox{
  background:#f4f4f4;
  border-radius:5px;
  border:1px solid;
  border-color:#f4f4f4;
  overflow-y:scroll;
  font-size: 1.3em;
  text-align: left;
  padding-left: 5%;
}
.listPlayers{
  padding-left: 10px;
}
.listLastPlayer{
  color: #FE0271;
}
.divChatBox{
  background:#f4f4f4;
  border-radius:5px;
  /* width:99%; */
  height:30%;
  margin:1% 0 1% 0;
  border:1px solid;
  border-color:#f4f4f4;
  overflow-y:scroll;
  font-size: 1.3em;
}
.divChatForm{
  height: 20%;
  border-radius:5px;
  font-size: 1.7em;
  width: 100%;
}
.txtChat{
  font-size: 0.8em;
  overflow-y:auto;
  border-radius:5px;
  width: 100%;
  height:70%;
  text-align: left;
  padding-left: 1%;
  word-wrap: break-word;
}
#btnChatSend{
  font-size: 0.7em;
  height: 30%;
  margin-top: 1%;
}
.chatCell {
    background:white;
    width:100%;
    text-align: left;
    padding-left: 2%;
    margin:auto auto 1px auto;
    word-wrap: break-word;
}

.divPlayerArea{
  height: 100%;
  border-radius:6px;
  text-align:center;
  padding: 0 2% 0 2%;
}
.imgDeck {
    height:90%;
    width: auto;
    display:inline-block;
}
.drawInformation{
  color:white;
  height: 2%;
}
.btnSlap{
    background:#2ecc71;
    font-size: 1.2em;
    color:white;
    border-radius:6px;
    margin-left: 2%;
    width: 7em;
    /* height: 10%; */
    align-items: center;
}
#divbtnSlap{
  padding-top: 5%;
}
.divPlayedCardArea{
  background: #8499db;
  width: 100%;
  height:25%;
  margin-top: 2%;
  border-radius:6px;
  overflow-x: scroll;
  white-space: nowrap;
  text-align: left;
}
.cardHeadings{
  font-size: 1.4em;
  height: 5%;
  text-align: center;
}
.divPlayerCardArea{
  background: #8499db;
  width: 100%;
  height: 38%;
  overflow-y:scroll;
  border-radius:6px;
}
.playedCardImage{
    height: 65%;
}

.playerCardImage{
    width:auto;
    height: 46%;
    margin: 2% 2% 2% 2%;
    display:inline-block;
    position:relative;
}
.figureitem {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width:auto;
    margin: 2% 2% 2% 2%;
    white-space: normal;
}
.figurecaption{
  display: block;
  color:white;
}
.buttonBar {
   margin-top: 1%;
   height: 6%;
   width:100%;
   text-align: center;
   position: relative;
}
.btnCheckUno{
    background:#2ecc71;
    font-size: 1.2em;
    color:white;
    border-radius:6px;
    margin-left: 2%;
    width: 7em;
    height: 100%;
    align-items: center;
}
#btnCheck{
  margin-left: 20%;
}

@media screen and (max-width: 1024px) {
  .buttonBar{
    margin-top: 10%;
  }
  .welcomeUno{
    width: 80vw;
    height: auto;
    left: 10vw;
    top:20vh;
  }
  .figurecaption{
    font-size: 20px;
  }
  .drawInformation{
    font-size: 20px;
  }
}


@media screen and (max-width: 767px) {
  .divMain{
    height: 80vh;
  }
  .txtPlayerName{
    font-size: 12px;
  }
  .btn{
    font-size: 13px;
  }
  .btnCheckUno{
    font-size: 13px;
  }
  .btnSlap{
    font-size: 13px;
  }
  #divbtnSlap{
    padding-left: 2%;
  }
  .btnAddMe{
    font-size: 13px;
  }
  .chatHeadings{
    font-size: 12px;
  }
  .divPlayersListBox{
    font-size: 10px;
  }
  .divChatBox{
    font-size: 10px;
  }
  #btnChatSend{
    font-size: 12px;
  }
  .cardHeadings{
    font-size: 12px;
  }
  .buttonBar{
    margin-top: 15%;
  }
  #btnCheck{
    margin-left: 2%;
  }
  .txtChat{
    font-size: 10px;
  }
  .divWelcomePlayer
  {
    font-size: 12px;
  }
  .figurecaption{
    font-size: 8px;
    right:-5%;
  }
  .drawInformation{
    font-size: 8px;
  }
}
